h1 {
	a {
		display: block;
		width: 245px;
		height: 150px;
		background: url(../img/logo.png) no-repeat 0 0 transparent;
		font-size: 0;
		color: transparent;
	}
}

.user {
	color: $rdk-grey-lg;
	font-size: 15px;
	line-height: 150%;
	border-top: 1px solid #424242;
	margin: 30px -30px 0;
	padding: 20px 30px;

	.user-photo {
		width: 60px;
		height: auto;
		margin-right: 20px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.user-photo,
	.user-info {
		vertical-align: middle;
		display: inline-block;
	}

	.user-info {
		span {
			margin: 0;
		}
	}
}

.menu {
	margin: 0 -30px;

	li {
		border-bottom: 1px solid #424242;

		&:first-child {
			border-top: 1px solid #424242;
		}

		i {
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			color: #6d6d6d;
			fill: #6d6d6d;
			width: auto;
			height: auto;
		}

		i + span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	a {
		color: #696969;
		letter-spacing: 2px;
		display: block;
		padding: 0 30px;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 55px;
	}

	.router-link-active {
		background: #1b1b1b;

		& + .submenu {
			display: block;
		}
	}
}

.submenu {
	display: none;

	li {
		border-bottom: 0;
	}

	a {
		background: #1b1b1b;
		font-size: 11px;
		padding-left: 65px;
		line-height: 45px;
	}
}