* {
	padding: 0;
	margin: 0;
	box-shadow: border-box;
}

body {
	font-size: 14px;
	font-family: $primary-font;
	color: $rdk-grey-md;
	background: $rdk-grey-lg;
}

a,
button {
	outline: none;
	text-decoration: none;
	transition: .3s;
}

a.basic {
	font-family: $bold-secondary-font;
	color: $rdk-green;
}

.text-center {
	text-align: center!important;
}

h2 {
	font-size: 23px;	
	color: $rdk-grey-md;
	text-transform: uppercase;
	font-family: $secondary-font;
	margin-bottom: 20px;
}

.bold {
	font-family: $bold-secondary-font;
}

.block {
	display: block;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	.col-8 {
		width: 58%;
	}

	.col-4 {
		width: 40%;
	}
}

.dashboard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	.col-left {
		background: $rdk-grey-dk;
		width: 20%;
		max-width: 250px;
		padding: 30px;
	}

	.col-right {
		background: $rdk-grey-lg;
		width: 80%;
		padding: 30px;
	}
}

