* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: $primary-font;
	color: $rdk-grey-md;
	background: $rdk-grey-lg;
}

a,
button {
	outline: none;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;

	&:hover {
		color: $white;
	}
}

a.basic {
	font-family: $bold-secondary-font;
	color: $rdk-green;
}

.text-center {
	text-align: center!important;
}

.text-right {
	text-align: right!important;
}

.red {
	color: $rdk-red;
}

h2 {
	font-size: 30px;	
	color: $rdk-grey-md;
	text-transform: uppercase;
	font-family: $secondary-font;
	margin-bottom: 20px;
}

h3 {
	font-size: 25px;	
	color: $rdk-grey-md;
	text-transform: uppercase;
	font-family: $secondary-font;
	margin-bottom: 20px;
}

.bold {
	font-family: $bold-secondary-font;
}

.block {
	display: block;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	.col-8 {
		width: 58%;
	}

	.col-4 {
		width: 40%;
	}
}

.flex-top {
	-webkit-box-align: start;
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
	align-items: flex-start;
}

.dashboard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	.col-left {
		background: $rdk-grey-dk;
		width: 20%;
		max-width: 310px;
		padding: 30px;
		min-height: 100vh;
	}

	.col-right {
		background: $rdk-grey-lg;
		width: 80%;
		padding: 30px;
		min-height: 100vh;
	}
}

.simple-page {
	.simple-box {
		margin-top: 25px;
	}
}

/*  Error  */

.error {
    margin: 20px 0;
    background: #ffd5d5;
    padding: 15px;
    border-bottom: 2px solid #c12626;
    color: #c12626;
}

.exito {
    margin: 20px 0;
    background: #c3e0c4;
    padding: 15px;
    border-bottom: 2px solid #377d39;
    color: #377d39;
}